# The configuration file for calculate_yield.py
#

[Input]
dataDirectory=C:\temp\Reports\Yield Calculation
userConfigFile=config.txt



[email]

# the mail server address
server=192.168.16.185

# the mail sender
sender=itsupport@clamc.com.hk

# smtp timeout in seconds
timeout=30

# Notification email recipients
notificationMailRecipients=steven.zhang@clamc.com.hk