# The configuration file
#



[logging]

# log level: debug, info, warning, error, critical
log_level=debug



[data]

# date format in the csv file
date_format=yyyy-mm-dd



[directory]

input=C:\Users\steven.zhang\Desktop\match
#input=

output=C:\Users\steven.zhang\Desktop\match\201612 taxlot
#output=